# Gastos

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [48]:
gastos = pd.read_csv('Rochester_gastos.csv')

In [38]:
gastos.head()

      Fecha           Lugar     Categoria   Sub_categoria  Total
0  2/1/2020            Tops  Supermercado          Comida  63.69
1  2/1/2020  Dollar General          Auto           Otros  21.28
2  2/1/2020          Nissan          Auto           Otros   9.18
3  2/1/2020   Dragon Palace    Restaurant        Almuerzo  36.91
4  2/1/2020          Amazon        Unicos  Mesitas de luz  99.34

In [39]:
gastos.dtypes

Fecha             object
Lugar             object
Categoria         object
Sub_categoria     object
Total            float64
dtype: object

In [40]:
gastos['Fecha']=pd.to_datetime(gastos['Fecha'])

In [41]:
gastos['Month']=gastos['Fecha'].dt.month

In [42]:
gastos.shape

(93, 6)

In [43]:
gastos[gastos.Month==2].Total.sum()

4384.860000000001

In [44]:
gastos.groupby(['Categoria','Month']).Total.sum()

Categoria        Month
Auto             2         570.23
Entretenimiento  2         292.90
Restaurant       2         547.06
Ropa             2         131.52
Servicios        2        1229.21
Supermercado     2         634.58
Unicos           2         979.36
Name: Total, dtype: float64

In [45]:
gastos.groupby(['Categoria','Sub_categoria','Month']).Total.sum()

Categoria        Sub_categoria     Month
Auto             Arreglos          2         362.65
                 Lavado            2          23.71
                 Nafta             2         115.75
                 Otros             2          43.12
                 Peajes            2          25.00
Entretenimiento  Bowling           2          30.00
                 Cine              2          57.80
                 Teatro            2         205.10
Restaurant       Almuerzo          2         188.35
                 Cena              2         314.74
                 Otros             2          43.97
Ropa             Ropa              2         131.52
Servicios        Alquiler          2        1055.00
                 Celular           2         108.21
                 Cursos            2          14.99
                 Laundry           2          20.00
                 Otros             2          24.00
                 Prime             2           7.01
Supermercado     Comida            2         504.89
                 Higiene           2          31.10
                 Limpieza          2          15.83
                 Otros             2          69.56
                 Unicos            2          13.20
Unicos           Acolchado         2          26.99
                 Auriculares       2         150.12
                 Lamparas          2          38.86
                 Merchandasing     2           8.44
                 Mesitas de luz    2          99.34
                 Minipimer y olla  2          80.96
                 Muebles           2         251.94
                 Organizador       2           8.60
                 Rompecabezas      2          21.26
                 Sabanas           2          16.19
                 Visa Canada       2         276.66
Name: Total, dtype: float64

In [49]:
gastos[gastos.Categoria == 'Restaurant'].groupby(['Lugar']).Total.sum()

Lugar
Arethusa              12.88
Asa evi turkish       33.76
Bill Grays            21.58
Cheesecake factory    19.85
Dibellas              18.11
Dragon Palace         36.91
Genesse               47.20
Java                   9.75
Jays dinner           80.70
Olive Garden          56.89
Osaka sushi           60.89
Pontos griego         50.95
RIT                   30.50
Raj Mahal             53.31
Taco bell             13.78
Name: Total, dtype: float64